body {
    background-size: cover;
}

.heading {
    font-size: 40px;
    width: 100%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.39);
    margin-top: 0px;
    padding: 20px;
}

#no_of_objects,
#modelstatus_tag {
    color: whitesmoke;
    font-weight: bold;
}

.footer {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.39);
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 10px;
}

canvas {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 110px;
}